@{

    ViewBag.Title = "Игра крестики-нолики";
}
<!DOCTYPE html>
<html lang="ru">
<body>
    <h1 class="text-center">Ваша игра</h1> <br>

    <table>
        <tbody id="field">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>
    <script src="~/../js/draw.js"></script>
</body>
</html>